<a href="https://colab.research.google.com/github/Nido89/RegressionInTenserflow3.0/blob/master/Copy_of_AIMLwithTenserflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df1 = pd.read_json("https://meri.digitraffic.fi/api/v1/metadata/vessels")
df1.head()

                timestamp  ... referencePointD
0 2019-10-27 11:30:06.994  ...               9
1 2019-08-28 05:18:20.325  ...               2
2 2018-10-17 22:10:27.596  ...              10
3 2018-10-10 18:19:37.007  ...              12
4 2019-09-17 23:39:06.515  ...               9

[5 rows x 14 columns]

In [0]:
import pandas as pd
url='https://cdn.fmi.fi/fmiodata-convert-api/output/csv-d11b8cf1-66ea-4849-94c9-e869ba924572.csv'
df2 = pd.read_csv(url) 
df2.head()

   Year   m   d   Time Time zone  Horizontal visibility (m)  Wind speed (m/s)
0  2019  10  27  00:00       UTC                    27070.0               0.0
1  2019  10  27  01:00       UTC                     4870.0               0.0
2  2019  10  27  02:00       UTC                     4520.0               0.0
3  2019  10  27  03:00       UTC                     7560.0               0.0
4  2019  10  27  04:00       UTC                    10520.0               0.0

In [0]:
df3=df_index = pd.merge(df1, df2, right_index=True, left_index=True)

df3.head(7)

                timestamp  ... Wind speed (m/s)
0 2019-10-27 11:30:06.994  ...              0.0
1 2019-08-28 05:18:20.325  ...              0.0
2 2018-10-17 22:10:27.596  ...              0.0
3 2018-10-10 18:19:37.007  ...              0.0
4 2019-09-17 23:39:06.515  ...              0.0
5 2019-09-12 14:24:30.748  ...              0.0
6 2018-11-24 06:45:59.204  ...              0.0

[7 rows x 21 columns]

In [0]:
df4 = df3["eta"]
  
df4.head(10)

0    711936
1      1596
2    691456
3    707328
4    630144
5    650432
6    803584
7    678208
8    727808
9    254430
Name: eta, dtype: int64

In [0]:
df5 = df2["Horizontal visibility (m)"]
df5.head(10)

0    27070.0
1     4870.0
2     4520.0
3     7560.0
4    10520.0
5     8750.0
6    12850.0
7    16700.0
8    13940.0
9    29700.0
Name: Horizontal visibility (m), dtype: float64

In [0]:
df6= df2["Wind speed (m/s)"]
df6.head(10)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    3.0
Name: Wind speed (m/s), dtype: float64

In [0]:
#Horizontal Visibility plus eta
df7= pd.merge(df4, df5, right_index=True, left_index=True)
df7.head(7)

      eta  Horizontal visibility (m)
0  711936                    27070.0
1    1596                     4870.0
2  691456                     4520.0
3  707328                     7560.0
4  630144                    10520.0
5  650432                     8750.0
6  803584                    12850.0

In [0]:
#eta plus WindSpeed
df8= pd.merge(df4, df6, right_index=True, left_index=True)
df8.tail(7)

       eta  Wind speed (m/s)
18  771456               0.0
19  612736               0.0
20  639488               0.0
21   74994               0.0
22  712705               0.0
23  700800               0.0
24  588820               0.0

In [0]:
## Import packages
import tensorflow as tf
import numpy
import pandas as pd
import matplotlib.pyplot as plt
rng = numpy.random

In [0]:
#Define your useful columns of data
column1=df7['eta'].values
column2=df7['Horizontal visibility (m)'].values

In [0]:
# HyperParameters
learning_rate = 0.01
training_epochs = 3000

In [0]:
#Parameter
display_step = 10

In [0]:
# Training Data (X,Y) Sets
train_X = numpy.asarray(column1)
train_Y = numpy.asarray(column2)

In [0]:
#Specifying the length of the train_x data
n_samples = train_X.shape[0]

In [0]:
# tf Graph Input --- Setting the dtype for the placeholder information
X = tf.placeholder("float")
Y = tf.placeholder("float")

In [0]:
# Set model weights This is initializing the guesses of the model for weight and bias
W = tf.Variable(rng.randn(), name="weight")
b = tf.Variable(rng.randn(), name="bias")

In [0]:
# Construct a linear model (y=WX+b)
pred = tf.add(tf.multiply(X, W), b)

In [0]:
# Mean squared error
cost = tf.reduce_sum(tf.pow(pred-Y, 2))/(2*n_samples)

In [0]:
#  Note, minimize() knows to modify W and b because Variable objects are trainable=True by default
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(error)

NameError: ignored

In [0]:
# Initialize the variables (i.e. assign their default value)
init = tf.global_variables_initializer()

In [0]:
# Start training
with tf.Session() as sess:

    # Run the initializer
    sess.run(init)

    # Fit all training data
    for epoch in range(training_epochs):
        for (x, y) in zip(train_X, train_Y):
            sess.run(optimizer, feed_dict={X: x, Y: y})

        # Display logs per epoch step
        if (epoch+1) % display_step == 0:
            c = sess.run(cost, feed_dict={X: train_X, Y:train_Y})
            print("Epoch:", '%04d' % (epoch+1), "cost=", "{:.9f}".format(c), \
                "W=", sess.run(W), "b=", sess.run(b))

    print("Optimization Finished!")
    training_cost = sess.run(cost, feed_dict={X: train_X, Y: train_Y})
    print("Training cost=", training_cost, "W=", sess.run(W), "b=", sess.run(b), '\n')

    # Graphic display
    plt.plot(train_X, train_Y, 'ro', label='Original data')
    plt.plot(train_X, sess.run(W) * train_X + sess.run(b), label='Fitted line')
    plt.legend()
    plt.show()

    # Testing example, as requested (Issue #2)
    test_X = numpy.asarray([6.83, 4.668, 8.9, 7.91, 5.7, 8.7, 3.1, 2.1])
    test_Y = numpy.asarray([1.84, 2.273, 3.2, 2.831, 2.92, 3.24, 1.35, 1.03])

    print("Testing... (Mean square loss Comparison)")
    testing_cost = sess.run(
        tf.reduce_sum(tf.pow(pred - Y, 2)) / (2 * test_X.shape[0]),
        feed_dict={X: test_X, Y: test_Y})  # same function as cost above
    print("Testing cost=", testing_cost)
    print("Absolute mean square loss difference:", abs(
        training_cost - testing_cost))

    plt.plot(test_X, test_Y, 'bo', label='Testing data')
    plt.plot(train_X, sess.run(W) * train_X + sess.run(b), label='Fitted line')
    plt.legend()
    plt.show()

NameError: ignored